# Entorno virtual
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# Archivos de salida y datos (según tu imagen)
# Carpeta de datos de entrada
01_input/
02_output/
*.xlsx

# Configuraciones personales y sensibles
config/settings.yaml
config/mappings.yaml