# Entorno virtual
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Datos y Salidas (Privacidad y peso)
00_data/
01_input/
02_output/
*.xlsx
*.csv

# Seguridad y Credenciales (CRÍTICO)
.env

# Configuraciones locales (Rutas de OneDrive, etc.)
config/settings.yaml
config/mappings.yaml

# Archivos de sistema
.DS_Store
Thumbs.db